

.DS_Store


# node_module folder gitignore test para sa subfolder/subfolders
/test-subfolder-for-node-modules/node_modules

/main1/submain1/subsubmain1/node_modules

# node_module folder gitignore test para sa main folder
node_modules/
